venv/
__pycache__/
.idea/
screenshot.png
tmp
log.txt
data/images/
data/[0-9][0-9][0-9][0-9]_[0-1][0-9]_[0-3][0-9]__[0-2][0-9]_[0-5][0-9]_[0-5][0-9]/
images/nums/
*.log
models/Local_models/*
*.csv
!arknights.csv
!arknights_clean.csv
